body {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
  
}

.content {
  margin-top: 2rem;
  align-items: center;
}
.img-banner {
  width: 100%;
}
.img-logofw {
  width: 194px;
  height: 146px;
  position: absolute;
  justify-content: flex-start;
  margin-right: 48rem;
  margin-top: -1.5rem;
}

.header-navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #1b8e99;
  height: 45px;
}
.infos {
  display: flex;
  justify-content: flex-start;
  background-color: #660000;
  height: 45px;
  margin-top: -0.22rem;
  margin-bottom: 4rem;
}


.title {
  position: relative;
  display: flex;
  align-items: center;
}
.title h3{
  color: #660000;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.linha {
  position: absolute;
  bottom: 26px;
  width: 55rem;
  border: none;
  border-top: 2.5px solid #660000;  
}
.linha-2 {
  position: absolute;
  bottom: 26px;
  width: 52rem;
  border: none;
  border-top: 2px solid #1b8e99; 
  
}
.card-container {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 280px;
  margin-right: 10px; 
  border: 2px solid #1b8e99;
}
.card h3{
 background: #1b8e99;
 width: 100%;
}

.card-2 p{
  margin-left: 10px;
  margin-top: 5px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 334px;
  margin-right: 10px; 
  border: 2px solid #660000;
}

.card-3 p{
  margin-left: 10px;
  margin-top: 5px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 334px;
  margin-right: 10px; 
  border: 2px solid #1b8e99;
}

.linha2 {
  /* position: absolute; */
  bottom: 26px;
  width: 100%;
  border: none;
  border-top: 12px solid #444444;  
}
.title img{
  margin-left: 45rem;
  margin-bottom: 1rem;
}

.navbar-ul {
  display: flex;
  list-style: none;
  margin-right: 1.5rem;
  transition: all 0.3s ease;
}

.navbar-li {
  margin-right: 1rem;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav li:last-child {
  margin-right: 0;
}

.white-div-bot {
  margin-right: 1rem;
  background-color: white;
  border: 1px solid white;
  height: 80px;
  width: 90px;
  position: relative;
  bottom: 31px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #660000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blue-div-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: rgb(146, 201, 206);
  border: 1px solid #92c9ce;
  height: 70px;
  width: 90px;
  position: relative;
  bottom: 27px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.br-word {
  bottom: 5px;
  position: relative;
  margin-right: 1rem;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer {
  display: flex;
  /* justify-content: flex-end; */
  background-color: #1b8e99;
  height: 96px;
}
.footer-drone{
  height: 30px;
  margin-top: 2rem;
  margin-left: 1rem;
}
.drones-footer{
  display: flex;
}
.drone-3{
  margin-left: 10rem;
}
.drone-2{
  margin-left: 14rem;
}

.drone-1{
  margin-left: 1rem;
}

.prof-img{
  height: 200px;
  width: 125px;
  margin-left: 54rem;
  margin-top: -25rem;
}

.footer p{
  margin-top: 15px;
  margin-left: 80px;
}

.prof-text{
  margin-left: 50rem;
  margin-top: -22px;
}

.footer-2 {
  display: flex;
  justify-content: flex-end;
  background-color: #660000;
  height: 26px;
  margin-top: -2rem;
}

.footer-2 p{
  margin-right: 5rem;
  margin-top: 1px;
}

.roda-pe{
  width: 100%;
  height: 20px;
  background-color: #660000;
  margin-top: -2px;
}

.roda-pe2{
  width: 100%;
  height: 20px;
  background-color: #1b8e99;
  margin-top: 15px;
}

.roda-pe3{
  width: 100%;
  height: 20px;
  background-color: #660000;
  margin-top: -3px;
}

.firstCardGroup {
  margin-top: 10px;
  display: flex;
  padding: 7px;
}

.card1 {
  display: inline-block;
  position: relative;
  height: 376px;
  width: 300px;
  border: 2px solid #1b8e99;
  margin-right: 15px;
  flex-direction: column;
}

.card2 {
  display: inline-block;
  position: relative;
  height: 376px;
  width: 300px;
  border: 2px solid #660000;
  margin-right: 15px;
}

.titleCard1 {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #bfe0e3;
  border: 1px solid #bfe0e3;
  color: #1b8e99;
  margin: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  font-size: medium;
}

.titleCard2 {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #eca7a7;
  border: 1px solid #eca7a7;
  color: #660000;
  margin: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  font-size: medium;
}

.imgDroneA {
  width: 290px;
  align-items: center;
  display: flex;
  margin: 5px;
}

.descDroneA {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #1b8e99;
}

.descDroneB {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #660000;
}


.priceDroneA {
  background-color: #1b8e99;
  height: 100px;
  width: 100%;
}

.priceDroneB {
  background-color: #660000;
  height: 100px;
  width: 100%;
}