body {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}

.content {
  margin-top: 2rem;
  align-items: center;
}
.img-banner {
  width: 100%;
}
.img-logofw {
  width: 194px;
  height: 146px;
  position: absolute;
  justify-content: flex-start;
  margin-right: 48rem;
  margin-top: -1.5rem;
}

.header-navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #1b8e99;
  height: 45px;
}
.infos {
  display: flex;
  justify-content: flex-start;
  background-color: #660000;
  height: 45px;
  margin-top: -0.22rem;
}

.navbar-ul {
  display: flex;
  list-style: none;
  margin-right: 1.5rem;
  transition: all 0.3s ease;
}

.navbar-li {
  margin-right: 1rem;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav li:last-child {
  margin-right: 0;
}

.white-div-bot {
  margin-right: 1rem;
  background-color: white;
  border: 1px solid white;
  height: 80px;
  width: 90px;
  position: relative;
  bottom: 31px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #660000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blue-div-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: rgb(146, 201, 206);
  border: 1px solid #92c9ce;
  height: 70px;
  width: 90px;
  position: relative;
  bottom: 27px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.br-word {
  bottom: 5px;
  position: relative;
  margin-right: 1rem;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}